
.vue-map-container {
  position: relative;
}
.vue-map-container .vue-map {
  left: 0; right: 0; top: 0; bottom: 0;
  position: absolute;
}
.vue-map-hidden {
  display: none;
}


.vue-street-view-pano-container {
  position: relative;
}
.vue-street-view-pano-container .vue-street-view-pano {
  left: 0; right: 0; top: 0; bottom: 0;
  position: absolute;
}


.fields[data-v-7b8f3399]{
    border-radius: 8px;
    border-color: inherit;
    /* border-style: solid; */
}
.createBtn[data-v-7b8f3399]{
    border-radius: 5px;
    /* padding: 0.7em; */
}


.ani[data-v-df7058ce]:hover {
    transform: translate(0, -20px);
}
.ani[data-v-df7058ce] {
    transition: transform .30s ease-out;
}



.ani[data-v-41dc321e]:hover {
    transform: translate(0, -20px);
}
.ani[data-v-41dc321e] {
    transition: transform .30s ease-out;
}


.v-input__slot[data-v-2dcfe8a0]{
    border: 2px solid white !important
}


#NavBanner{
    position: fixed !important
}
.list-item-bg:hover{
    background-color: rgba(108, 163, 245, 0.99);
}

